

<div class="container">
  <div class="col-md-4 leftNav"  >
    <ul class="list-group tableSelectionKeep"  >
      <li *ngFor="let table of tableArray" class="list-group-item " [class.active]="table.isSelected">
        <span style = "cursor: pointer; display: block;width:100%"   (click) = "onTableClicked(table)">
        {{table.TABLE_NAME}}
        </span>
        <div *ngIf='currentSelectedTable && currentSelectedTable.TABLE_COLUMNS' class="col-md-12 .col-md-offset-1" >
          <div *ngIf='currentSelectedTable === table' class="list-group"  >

              <button type="button"  *ngFor="let column of selectedTableCols" class="list-group-item list-group-item-action" (click) = "columnClicked(column)">
              {{column}}
              <span *ngIf="currentSelectedTable.TABLE_COLUMNS.get(column)">
                <input type="checkbox" [attr.checked] = "currentSelectedTable.TABLE_COLUMNS.get(column).isChecked?'':null" id="{{column.TABLE_NAME}}_{{column.COLUMN_NAME}}"  >
              </span>

              </button>


          </div>
      </div>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <button [attr.disabled] = "currentSelectedTable?null:''" type="button" class="btn btn-primary tableSelectionKeep" (click) = "getData()">Get Data</button>
    <app-table-output-component [getDataClickedEvent] = "getDataClickedEvent"></app-table-output-component>
  </div>
</div>


