<div class="container">
    <h1>Enter Db connection credentials</h1>
    <form #credForm="ngForm" (ngSubmit)="onSubmit(credForm)" >
      <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" name="user" id="user" required [(ngModel)]="_dbCred.user">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required="" [(ngModel)]="_dbCred.password"l>
      </div>

      <div class="form-group">
        <label for="connectionString">Connection string</label>
        <textarea type="text" class="form-control" name="connectionString" id="connectionString" required="" [(ngModel)]="_dbCred.connectionString"></textarea>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
